:root {
  --font-color: #000;
  --sm: 576px;
  --md: 768px;
  --lg: 1024px;
  --white: #ffffff;
  --darkCharcoal: #333333;
  --cssGray: #7f7a79;
  --steelBlue: #337ab7;
  --scroll-bar-color: #dedede;
  --scroll-bar-bg-color: #faf8f7;
  --celticBlue: #3169cc;
  --blueBerry: #5485fe;
  --blueBerryDark: #3f7cff;
}

body {
  font-family: Arial, sans-serif;
  user-select: none;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  scrollbar-width: thin !important;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color) !important;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-bg-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 12px;
  border: 4px solid var(--scroll-bar-color);
}

/* ========================= left side container css ==========================*/
.leftContainer {
  background-image: url("https://pub-static.fotor.com/assets/bg/78f0d7f1-e8e5-4f87-9af7-17495858c8ec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--blueBerry);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftSideImg {
  max-width: 90%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

/* ========================= right side container css ==========================*/
.rightContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}

.LogoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waysideLogo {
  width: 180px;
}

.welcomeBox {
  margin: 32px auto 16px auto;
  text-align: center;
}

.welcomeTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--darkCharcoal);
}

.welcomeSubtitle {
  font-size: 1rem;
  font-weight: normal;
  color: var(--cssGray);
}

.readerOptionsBox {
  margin-bottom: 24px;
}

.readerOptionsLabel {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--darkCharcoal);
  margin-bottom: 8px;
}

.renderOptions {
  display: flex;
  align-items: center;
}

.renderOption {
  display: flex;
  align-items: center;
}

.readerOptionLabel {
  color: var(--cssGray);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-right: 16px;
  margin-left: 8px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 3px solid gray;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: var(--blueBerry);
}

input[type="radio"]:checked {
  border-color: var(--blueBerry);
}

.readerTextBox{
  background-color: rgba(167, 200, 255, 0.5);
  border: 2px dashed var(--blueBerry);
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.readerTextImage{
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

#readerText{
  font-size: 1rem;
  font-weight: normal;
  color: var(--cssGray);
}

.buttonsBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.launchButton {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--blueBerry);
  color: var(--white);
  font-size: 1.15rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.launchButton:hover {
  background-color: var(--blueBerryDark);
  color: var(--white);
}

.rightArrow {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}
